<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'slides/slide1.jpg'%>
    </div>

    <div class="item">
      <%= image_tag 'slides/slide2.jpg'%>
    </div>

    <div class="item">
      <%= image_tag 'slides/slide3.jpg'%>
    </div>

    <div class="item">
      <%= image_tag 'slides/slide4.jpg'%>
    </div>
  </div>
</div>