<div class="event-align col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
	<div class="events container col-xs-12 col-sm-12 col-md-10 col-lg-9">

		<span id="events-title"> ПРОВЕДЕНI ЗАХОДИ</span>

		<div class="events-all col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% @events.each do |event|%>
			<a href="<%= event_path(event.id)%>">
			<div class="event-all-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
				<%= cl_image_tag(event.title_image.path, { size: '300x300', crop: :fill })%>
				<span class="event-all-name"> <%= event.name%> </span>
				<span class="event-all-date"> <%= event.date.strftime("%d.%m.%Y")%> </span>
			</div> </a>
			<% end %>
		</div>

	</div>
</div>
