
<div class="event-align col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
<div class="partners-wrapper container col-xs-12 col-sm-12 col-md-10 col-lg-19">
<p>
	Якщо Ви бажаєте вступити до лав Координаційної ради молодих юристів при ГУ юстиції у Харківській області та прийняти участь у розвитку правової свідомості та правової культури населення і змінити нашу державу на краще – заповнюйте анкету, надсилайте її нам та ми зв’яжемося з Вами.
</p>
<p id="notice"><%= notice %></p>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
	<%= render 'messages/message'%>
</div>


</div>
</div>

<script>

document.getElementById("submitbtn").disabled = true;


var enableBtn  =  function(){
document.getElementById("submitbtn").disabled = false;

}

</script>

