<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<span>Затверджено наказом</span>
<span>Головного управління </span>
<span>юстиції у Харківській області</span>
<span>від 15.09.2008 № 471/6</span>

<p class="polojenia-head">Положення </br>
про Координаційну  раду молодих юристів</br> 
при Головному  управлінні юстиції у Харківській області </p>

<p class="polojenia-text">1. Координаційна  рада молодих юристів (далі – Координаційна рада) є  консультативно – дорадчим  органом при Головному  управлінні юстиції у Харківській області, який  створюється  з метою об’єднання  зусиль молодих  юристів  в утвердженні  високої ролі  професії юриста, координації  діяльності, пов’язаної  з підвищенням  якості  підготовки  фахівців в галузі права, залучення молодих правників правоосвітньої та правовиховної роботи.
2. Координаційна рада створюється та діє на засадах добровільності, рівності  членів Ради, законності, гласності та  не обмежує свободу  вибору напрямків  діяльності. 
3. У своїй   діяльності  Координаційна рада  керується  Конституцією  України, законами  України, актами Президента  України та  цим Положенням. 
4. Основні завдання та напрямки діяльності Координаційної ради:
підвищення рівня  правових знань населення;
пошук нових форм  правоосвітньої та правовиховної діяльності;
підвищення  рівня  та якості   теоретичної  і  практичної  підготовки  студентів  - правників та молодих юристів.
5. Повноваження Координаційної ради  відповідно до покладених на неї завдань:
-   організація виступів   у засобах масової інформації з правових питань;
сприяння  організації  правоосвітніх та  правовиховних заходів серед неповнолітніх та молоді, зокрема дітей, що потребують  особливої допомоги;  перебувають  у спеціальних  виховних установах; у кризових  центрах для жертв  насильства в сім’ї, дітей, позбавлених  батьківського  піклування тощо;
організація конференцій, “круглих столів”, форумів, семінарів, тренінгів, зустрічей, направлених на підвищення  рівня  правових знань громадян;
розроблення  та поширення правоосвітніх методичних  матеріалів: посібників, буклетів, пам’яток тощо;
розроблення сценаріїв рольових ігор, вікторин, тощо  з правової  тематики для подальшого використання в правоосвітній  діяльності; 
сприяння  у проведенні  Обласного тижня правової  освіти  населення;
вивчення  та поширення  позитивного  досвіду організації  навчального процесу із застосуванням інтерактивних методів  навчання в навчальних закладах;  
організація  форумів, конференцій, “круглих столів” щодо стану  підготовки юридичних кадрів;
залучення студентської  правничої молоді до обговорення  питань розвитку професії юриста;
створення  постійного, ефективного  зв’язку між представниками  молодіжних  та студентських  організацій, студентами   вищих навчальних закладів та Головним управлінням юстиції у Харківській області;
спрямування  зусиль на модернізацію процесу проходження  виробничої  та переддипломної  практики студентів – правників;
підтримання  ініціативи  розширення мережі  юридичних клінік при вищих навчальних  закладах юридичного  спрямування.
6. До складу Координаційної Ради  входять   представники   структурних підрозділів   Головного управління юстиції та територіальних установ юстиції, студенти – правники вищих навчальних закладів м. Харкова та Харківської області, молоді юристи – науковці і практики, викладачі права, співробітники  юридичних клінік (далі – члени Координаційної ради). 
7. Голова Координаційної ради  обирається  на засіданні ради не менш ніж двома третинами голосів   членів  Координаційної ради. 
Секретар  Координаційної ради обирається більшістю голосів  з числа присутніх  на засіданні членів ради. 
Голова Координаційної ради головує на засіданнях, представляє її  у період між засіданнями; координує  та спрямовує діяльність  ради;  здійснює  організаційні заходи щодо підготовки та проведення засідань Координаційної ради; звертається з клопотанням до начальника Головного управління юстиції у Харківській області  щодо проходження стажування  студентів  - правників та молодих  юристів на базі управління. 
8. Склад Координаційної ради затверджується  начальником   Головного управління юстиції. 
9. Основними  критеріями відбору кандидатів  до  складу  Координаційної ради є: бажання працювати на громадських засадах; активна участь у громадській діяльності;  наявність особистих досягнень, напрацювань у галузі права; надання конкретних  пропозицій щодо особистого  вкладу в розвиток професії  юриста в рамках діяльності Координаційної ради.
10. Для належної організації роботи Координаційної ради визначаються  два напрямки її діяльності: 
-  організація  підвищення рівня правових знань громадян; 
- організація  підвищення  рівня  теоретичної  і практичної  підготовки  фахівців в галузі права. 
За кожний напрямок  призначається відповідальний, який спрямовує роботу Координаційної ради. 
Відповідальні за відповідний напрямок діяльності:
-  координують  діяльність Координаційної  ради  з відповідних напрямків діяльності; 
-  очолюють роботу у відповідному напрямку;
-  організовують та підготовлюють  проведення  відповідних заходів. 
11. Повноваження членів  Координаційної ради:
-  приймають участь   у підготовці  та проведенні засідань Координаційної ради,  в обговоренні  питань, внесених на її розгляд;
-  вносять пропозиції  щодо розгляду питань, які належать  до компетенції Координаційної ради, а також пропозиції  з питань, що обговорюються;
-  безпосередньо   та із залученням фахівців  відпоівдних галузей  реалізують  завдання, поставлені  перед  Координаційною радою, виконують  в межах  компетенції план  роботи. 
Задля реалізації завдань Координаційної ради  можуть також   залучатися  інші представники  громадських організацій,  студенти, викладачі та науковці навчальних закладів та інші.
12. Координаційна рада  приймає рішення  у формі рекомендацій, які є обов’язковими  для  розгляду зацікавленими особами та для виконання всіма членами ради.  
Рекомендації  приймаються  відкритим   голосуванням  більшістю  голосів членів Координаційної ради. 
13. Координаційна рада діє на  громадських засадах.
Координаційна  рада  може  реалізовувати  свої  завдання  за  фінансової підтримки  громадських організацій. 
</p>
</div>
