<div class="team-wrapper container col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="our-team col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
		<span class="team-name"></span>>
		<div class="team-face col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
		<div class="team-text col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
	</div>
</div>