.about-us-wrapper{
  ul{
    padding-left: 25px;
  }
  position:relative;
  margin: 0px auto;
  float: none!important;
  text-align: left;
  & h2{
    font-weight:bold;
  }
  & p{
    font-size:16px;
  }
  & li{
    font-size:16px;
  }
}
.anchor{
  & a{
    position:fixed;
    right: 25px;
    bottom: 80px;
    display:none;
  }
}
a:focus {outline: none;}
