.contacts-wrapper{
  margin: 40px auto;
  float: none!important;
  & .contacts{
    margin-top: 15px;
    text-align: left;
    & .foto-contacts{
      & img{ 
        min-height: 175px;
        max-height: 300px;
        width:100%;
        margin-bottom:25px;
        }
    }
    & .adress{
      & span{
        font-size:16px;
        display:block;
      }
    }
  }
  
}
