.team-wrapper{
  position:relative;
  float: none;
  margin: 0 auto;
}
h2{
  font-weight:bold;
  text-align: left;
  margin-bottom: 40px;
}
.our-team{
  margin-bottom:25px;
  font-size:16px;
  & .team-name{
    font-size:19px;
    margin-bottom:15px;
    text-align: left;
  }
  & .team-face{
    text-align: left;
    & img{
      height:200px;
      width:150px;
    }
  }
  & .team-text{
    text-align: left;
    & p{}
    & span{
      display:block;
      }
  }
}

#others-team{
  font-size: 20px;
  display: block;
  margin: 20px auto;
  text-align: center;
  
}

.other-team{
  font-size:16px;
  & .other-team-name{
    text-align: left;
    & span{
      display:block;
      margin-bottom:10px;
    }
  }
  & .other-team-foto{
    & img {
      margin-bottom:15px;
      width:inherit;
    }
  }
}

.anchor{
  & a{
    position:fixed;
    right: 25px;
    bottom: 80px;
    display:none;
     & img{
      height:30px;
      width:30px;
    }
  }
}
a:focus {outline: none;}

@media all and (max-width: 430px){
  .team-face{
    margin-bottom:15px;
    float:none;
  }
}
