div.item{
  & img{
    max-width: 1920px!important;
    max-height: 700px;
    margin: 0 auto;
    width: 100%;
    min-height: 250px!important;
  }
}

.painted{
 background-color: #EEE; 
}

.carousel-indicators{
  & li{
  width: 20px;
  height: 20px;
  }
  & li.active{
    width: 20px;
  height: 20px;
  }
}


.carousel-caption{
  background-color: rgba(0,0,0,.5);
  h3, p{
    color: white;
  }
}



.title.container{
  padding: 0;
  float: none;
}

.title-text-header{
  text-align: center;
  & span{
    font-size: 48px;
    display: block;
    margin: 30px 0 30px 0;
  }
}

.title-text-items{
  margin-bottom: 30px;
}

.text-column{
  background-color: #61CCC7;
  text-align: center;
  float: left;
  display: inline-block;
  border: 5px solid white;
  min-height: 330px;
  & .title-caption{
    display: block;
    font-family: Courier;
    font-size: 18px;
    color: #666;
    padding-bottom: 20px;
    text-align: left;
    font-weight: 600;
  }
  & img{
    width: 100px;
    height: 100px;
    margin: 15px 15px 10px 0;
    float: left;
  }
  & p{
    text-align: justify;
    font-size: 16px;
  }
}


.title-about-us.container{
  & .about-us-carousel{
    margin-bottom: 55px;
  }
  float: none;
  margin: 0 auto;
  padding-top: 25px;
  & span{
    font-size: 48px;
    display: block;
    margin: 30px 0 50px 0;
    text-align: center;
  }
  & .about-us-text{
    margin-bottom: 55px;
    & p{
      line-height: 1.8em;
    font-size: 18px;
    text-align: justify;
    }
  }
}


.partners.container{
  text-align: center;
  margin: 20px 0 20px 0;
  & a{
    display: inline-block;
    margin: 10px 15px 10px 15px;
    opacity: .7;
    & img{
      height: 180px;
      width: auto;
    }
    &:hover{
      opacity: 1;
      transition: .3s ease;
    }
  }
}


.title-team.container{
  float: none;
  margin-top: 55px;
  margin-bottom: 55px;
  & .team-member{
    text-align: center;
    margin-bottom: 25px;
    & img{
      width: 150px;
      height: 200px;
    }
    & .team-member-name{
      text-align: center;
      margin-top: 15px;
      display: block;
    font-family: Courier;
    font-size: 18px;
    color: #14a095;
    padding-bottom: 20px;
    font-weight: 600;
    }
    & .info{
      display: block;
      margin-top: 20px;
      text-align: center;
      width: 100%;
    }
  }
}

.anchor{
  & a{
    position:fixed;
    right: 25px;
    bottom: 80px;
    display:none;
  }
}
a:focus {outline: none;}
