<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding text-center">

	<div class="header container col-xs-12 col-sm-12 col-md-10 col-lg-9">

		<div class="header-logo col-xs-6 col-sm-4 col-md-4 col-lg-4">

			<table>
				<tr>
					<td><%= image_tag 'logo.jpg' %></td>
				</tr>
			</table>
		</div>

		<div class="header-text col-xs-6 col-sm-5 col-md-6 col-lg-6">
			<table>
				<tr>
					<td> Харкiвська координацiйна рада молодих юристiв</td>
				</tr>
			</table>
		</div>

		<div class="header-socials col-xs-12 col-sm-3 col-md-2 col-lg-2">
			<table>
				<tr>
					<td>
						<ul>
							<li>
						<i class="fa fa-facebook-square"> </i>
						</li>
						<li>
						<i class="fa fa-vk"> </i>
						</li>
						
						</td>
				</tr>
			</table>
		</div>

	</div>
</div>

<div class="clearfix"> </div>
