<div class="container header-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<nav class="navbar navbar-default  navbar-fixed-top ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT US</a></li>
        <li><a href="">TEAM</a></li>
        <li><a href="">ACTIVITIES</a></li>
        <li><a href="">PROJECTS</a></li>
        <li><a href="">PARTNERS</a></li>
        <li><a href="">GALLERY</a></li>
        <li><a href="">EVENTS</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">CONTACTS</a></li>
      </ul>
     </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class="header-logo col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="logo"></div>
	<div class="socials-header"></div>	
 </div>
 